*{
	padding:0px;
	margin:0px;
}
body{
	text-align:center;
	background-color:darkblue;
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color:gold;
	text-decoration: none;
}
header>nav{
	border-bottom-left-radius:20%;
	border-bottom-right-radius:20%;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:9999;
	background-color:blue;
	opacity:0.3;
    -webkit-transition: opacity 0.5s; /* Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
}
header>nav>ul{
	vertical-align:top;
	min-width:10%;
	max-height:0.8em;
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
	padding:0.5% 1%;
	overflow:hidden;
    -webkit-transition: max-height 1s; /* Safari 3.1 to 6.0 */
    transition: max-height 1s;
}
header>nav>ul>li{
	color:white;
	list-style-type:none;
	cursor:pointer;
}
header>nav:hover>ul{
	max-height:8em;
}
header>nav:hover{
	opacity:0.9;
}
section{
	margin-top:2em;
}