*{
	padding:0px;
	margin:0px;
}
body{
	position:absolute;
	text-align:center;
	background-color:darkblue;
	width:1280px;
	height:100%;
}
header{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
header>nav{
	position:relative;
	top:40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color:blue;
	height:80px;
}
header>nav>ul{
	padding-top:20px;
	list-style-type:none;
}
header>nav>ul>li{
	color:white;
    font-style: oblique;
	font-size:1.5em;
    text-transform: uppercase;
	display:inline-block;
	padding:0px 10px;
	font-family: Georgia,"Times New Roman", Serif;
	cursor:pointer;
}

header>nav>ul>li:hover{
	color:gold;
}

section{
	position:absolute;
	top:20%;
	left:10%;
	width:80%;
	height:70%;
	background-color:blue;
	display:none;
	text-align:left;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding:0px 1%;
}	
.success{
	color:green;
}
.error{
	color:red;
}
div.popup_window{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:99999;
	width:100%;
	height:100%;
}
div.popup_window>div{
	padding:1%;
	position:relative;
	top:10%;
	left:20%;
	background-color:blue;
	width:60%;
	height:60%;
}
div.popup_window>div>button.close_window{
	position:relative;
	top:-20px;
	left:100%;
	width:20px;
	height:20px;
}
div.popup_window>div>h4{
	text-align:left;
	color:gold;
	padding-bottom:10px;
}
div.popup_window>div>h4+div{
	overflow:hidden;
}
div.popup_window form>label+input{
	width:100%;
}
div.popup_window form>button.submit{
	margin-top:10px;
	float:right;
}